@import './Heading.css';

.Index {
	&-title {
		@mixin Heading--head;

		@screen lg {
			@mixin Heading--lead;
		}
	}

	&-grid {
		display: grid;
		grid-template-rows: 40px auto 40px;

		@screen md {
			grid-template-rows: 120px auto 120px;
		}
	}
}